:root {
    --color-primary: #00f7ff;
    --color-secondary: #00f7ff;
    --color-bg: #000000;
    --color-bg-light: #111111;
    --color-text: #f0f0f0;
    --color-text-muted: #a0a0a0;
    --color-border: #00f7ff;
    --color-success: #00ff41;
    --color-danger: #ff0051;
    --color-warning: #fff000;
    --color-glow: rgba(0, 247, 255, 0.3);
    
    --bg-image: none;
    --bg-size: auto;
    --bg-animation: none;
}

.card, .btn {
    box-shadow: 0 0 10px -2px var(--color-glow), inset 0 0 8px -4px var(--color-glow);
}
.form-control:focus {
     box-shadow: 0 0 0 3px var(--color-glow);
}