:root {
    --color-primary: #f59e0b;
    --color-secondary: #eab308;
    --color-bg: #4c0519;
    --color-bg-light: #7a0929;
    --color-text: #fef2f2;
    --color-text-muted: #fecaca;
    --color-border: #881337;
    --color-success: #a3e635;
    --color-danger: #f87171;
    --color-warning: #f59e0b;
    --color-glow: rgba(245, 158, 11, 0.2);

    --bg-image: linear-gradient(135deg, #4c0519, #881337);
    --bg-size: 100% 100%;
    --bg-animation: none;
}